<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.heyuantao.main.mapper.TypeMapper">
    <select id="selectByParams" parameterType="java.util.Map" resultType="cn.heyuantao.main.domain.Type">
        select * from type
        <where>
            <if test="filterMap!=null">
                <if test="filterMap.name!=null  and filterMap.name!=''">
                    and name = #{filterMap.name}
                </if>
                <if test="filterMap.description!=null  and filterMap.description!=''">
                    and description = #{filterMap.description}
                </if>
            </if>
            <if test="searchMap!=null and searchMap.search!=null">
                <bind name="searchValue" value="'%'+searchMap.search+'%'"/>
                <if test="searchMap.search!=null  and searchMap.search!=''">
                    and ( name like #{searchValue} or description like #{searchValue} )
                </if>
            </if>
        </where>
    </select>

</mapper>