<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.heyuantao.devicemanagement.mapper.DeviceMapper">

    <select id="selectByParams" parameterType="map" resultMap="DeviceInformationMap">
        select
             d.*
        from
            device d
        left join
            owner o
        on
            d.owner_id = o.id
        left join
            location l
        on
            d.location_id = l.id
        left join
            type t
        on
            d.type_id = t.id
        <where>
            <if test="name!=null  and name!=''">
                and d.name = #{name}
            </if>
            <if test="vendor!=null  and vendor!=''">
                and d.vendor = #{vendor}
            </if>
            <if test="asset_no!=null  and asset_no!=''">
                and d.asset_no = #{asset_no}
            </if>
            <if test="sn!=null  and sn!=''">
                and d.sn = #{sn}
            </if>
<!--            <if test="filterMap!=null">
                <if test="filterMap.name!=null  and filterMap.name!=''">
                    and d.name = #{filterMap.name}
                </if>
                <if test="filterMap.vendor!=null  and filterMap.vendor!=''">
                    and d.vendor = #{filterMap.vendor}
                </if>
                <if test="filterMap.asset_no!=null  and filterMap.asset_no!=''">
                    and d.asset_no = #{filterMap.asset_no}
                </if>
                <if test="filterMap.sn!=null  and filterMap.sn!=''">
                    and d.sn = #{filterMap.sn}
                </if>
            </if>
            <if test="searchMap!=null and searchMap.search!=null">
                <bind name="searchValue" value="'%'+searchMap.search+'%'"/>
                <if test="searchMap.search!=null  and searchMap.search!=''">
                    and
                        d.name like #{searchValue}
                    or
                        d.asset_no like #{searchValue}
                    or
                        o.name like #{searchValue}
                </if>
            </if>-->
        </where>
    </select>

    <resultMap id="DeviceInformationMap" type="Device">
        <result property="id"   column="id"/>
        <result property="name" column="name"/>
        <result property="vendor" column="vendor"/>
        <result property="sn" column="sn"/>
        <result property="assetNo" column="asset_no"/>
        <result property="inDate" column="in_date"/>
        <result property="updated" column="updated"/>
        <association property="location" column="location_id" javaType="Location" select="getDeviceLocation"/>
        <association property="type" column="type_id" javaType="Type" select="getDeviceType"/>
        <association property="owner" column="owner_id" javaType="Owner" select="getDeviceOwner"/>
    </resultMap>

    <select id="getDeviceLocation" resultType="Location">
        select * from location where id=#{id}
    </select>
    <select id="getDeviceType" resultType="Type">
        select * from type where id=#{id}
    </select>
    <select id="getDeviceOwner" resultType="Owner">
        select * from owner where id=#{id}
    </select>

</mapper>