<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.heyuantao.devicemanagement.mapper.DeviceMapper">

    <insert id="addDevice" useGeneratedKeys="true" keyProperty="id"
            parameterType="cn.heyuantao.devicemanagement.domain.Device">
        INSERT INTO
            device
            (name, vendor, sn, asset_no, in_date, updated, location_id, type_id, owner_id)
        VALUES
            (#{name},#{vendor},#{sn},#{assetNo},#{inDate},#{updated},#{location.id},#{type.id},#{owner.id})
    </insert>

    <update id="updateDevice" parameterType="cn.heyuantao.devicemanagement.domain.Device">
        UPDATE
            device
        SET
            name = #{name}, vendor = #{vendor}, sn = #{sn}, vendor = #{assetNo},
            in_date = #{inDate}, updated = #{updated},
            location_id = #{location.id},type_id = #{type.id},owner_id = #{owner.id}
        WHERE id = #{id}
    </update>


    <select id="selectByParams" parameterType="map" resultType="cn.heyuantao.devicemanagement.domain.Device">
        select d.* from device d
        left join
            owner o
        on
            d.owner_id = o.id
        left join
            location l
        on
            d.location_id = l.id
        left join
            type t
        on
            d.type_id = t.id
        <where>
            <if test="name!=null  and name!=''">
                and d.name = #{name}
            </if>
            <if test="vendor!=null  and vendor!=''">
                and d.vendor = #{vendor}
            </if>
            <if test="sn!=null  and sn!=''">
                and d.sn = #{sn}
            </if>
            <if test="asset_no!=null  and asset_no!=''">
                and d.asset_no = #{asset_no}
            </if>
            <if test="sn!=null  and sn!=''">
                and d.sn = #{sn}
            </if>
        </where>
    </select>

    <select id="selectById" parameterType="Long" resultType="cn.heyuantao.devicemanagement.domain.Device">
        select d.* from device d
        <where>
            <if test="id!=null  and id!=''">
                and d.id = #{id}
            </if>
        </where>
    </select>

    <select id="filterByParams" parameterType="String" resultType="cn.heyuantao.devicemanagement.domain.Device">
        select
            d.*
        from
            device d
        left join
            owner o
        on
            d.owner_id = o.id
        left join
            location l
        on
            d.location_id = l.id
        left join
            type t
        on
            d.type_id = t.id
        <where>
            <bind name="filterValue" value="'%'+filterString+'%'"/>
            <if test="filterString!=null  and filterString!=''">
                and
                    d.name like #{filterValue}
                or
                    d.asset_no like #{filterValue}
                or
                    o.name like #{filterValue}
            </if>
        </where>
    </select>



    <!--Result Map for device -->
<!--    <resultMap id="DeviceInformationMap" type="Device">
        <result property="id"   column="id"/>
        <result property="name" column="name"/>
        <result property="vendor" column="vendor"/>
        <result property="sn" column="sn"/>
        <result property="assetNo" column="asset_no"/>
        <result property="inDate" column="in_date"/>
        <result property="updated" column="updated"/>
        <association property="location" column="location_id" javaType="Location" select="getDeviceLocation"/>
        <association property="type" column="type_id" javaType="Type" select="getDeviceType"/>
        <association property="owner" column="owner_id" javaType="Owner" select="getDeviceOwner"/>
    </resultMap>
    <select id="getDeviceLocation" resultType="Location">
        select * from location where id=#{id}
    </select>
    <select id="getDeviceType" resultType="Type">
        select * from type where id=#{id}
    </select>
    <select id="getDeviceOwner" resultType="Owner">
        select * from owner where id=#{id}
    </select>-->


</mapper>