<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.heyuantao.devicemanagement.mapper.OwnerMapper">

    <select id="selectByParams" parameterType="java.util.Map" resultType="cn.heyuantao.devicemanagement.domain.Owner">
        select * from owner
        <where>
            <foreach collection="searchMap" index="key" item="value" open=""  separator=" and "  close="" >
                name like #{value}
            </foreach>
            <foreach collection="selectMap" index="key" item="value" open=""  separator=" and "  close="" >
                ${key}=#{value}
            </foreach>
        </where>
    </select>


</mapper>