<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.heyuantao.devicemanagement.mapper.OwnerMapper">

    <select id="selectByParams" parameterType="java.util.Map" resultType="cn.heyuantao.devicemanagement.domain.Owner">
        select * from owner
        <where>
            <if test="selectMap!=null">
                <if test="selectMap.name!=null  and selectMap.name!=''">
                    and name = #{selectMap.name}
                </if>
                <if test="selectMap.department!=null  and selectMap.department!=''">
                    and department = #{selectMap.department}
                </if>
            </if>
            <if test="searchMap!=null and searchMap.search!=null">
                <bind name="searchValue" value="'%'+searchMap.search+'%'"/>
                <if test="searchMap.search!=null  and searchMap.search!=''">
                    and name like #{searchValue}
                </if>
            </if>
        </where>
    </select>

<!--

    <foreach collection="searchMap" index="key" item="value" open=""  separator=" and "  close="" >
        name like #{value}
    </foreach>
    <foreach collection="selectMap" index="key" item="value" open=""  separator=" and "  close="" >
        ${key}=#{value}
    </foreach>
-->

</mapper>